Repository signal-noise/datasupply, changes with the labels that .github/labeler.yml gives for each.
All labels: source, documentation, test

.github/labeler.yml:

# read up on the format at https://github.com/actions/labeler

source:
  - src/**/*

# to create package-specific labelling
#core:
#  - src/core/*
#  - src/core/**/*

documentation:
  - docs/*
  - docs/**/*

test:
  - src/**/*.spec.js

Update package-lock.json
  package-lock.json
Labels: none

using ES modules so it's not going to work with node 10
  .github/workflows/test.yml
Labels: none

remove all the babel suff as we're natively usgin ES modules
  babel.config.cjs
  jest.config.cjs
  jest.config.js
  package-lock.json
  package.json
  src/config.json
  src/supply-cmd.js
Labels: source

the npm sript is lint not check
  .github/workflows/test.yml
  package.json
Labels: none

add some get-file-path tests
  example-data/output/circuits.json
  example-data/output/dummy.json
  example-data/output/london-hpi.json
  example-data/output/periodic-table.json
  example-data/output/polling-data.json
  example-data/output/sugarydrinks.json
  example-data/output/uk-electoral-turnout.json
  main.js
  package.json
  test/get-file-paths.test.js
Labels: none

move examples into test, consider that directory structure a test fixture
  supply-config.json
  test/example-data/dummy.tsv
  test/example-data/political-data/elections/polling-data.csv
  test/example-data/political-data/elections/polling-data.yml
  test/example-data/political-data/elections/uk-electoral-turnout.csv
  test/example-data/political-data/london-hpi.csv
  test/example-data/scientific-data/periodic-table.csv
  test/example-data/scientific-data/sugarydrinks.csv
  test/example-data/sports-data/circuits.csv
  test/get-file-paths.test.js
Labels: none

don't run tests on windows
  .github/workflows/test.yml
Labels: none

Update publish.yml
  .github/workflows/publish.yml
Labels: none

linting fix
  .github/workflows/publish.yml
Labels: none

Tweaks for public visibility on NPM (#20)
  .github/workflows/publish.yml
  README.md
Labels: none

extract the configuration parsing into it's own file, check for duplicate dataset names
  package-lock.json
  package.json
  src/index.js
  src/parse-config.js
  src/parse-data-files.js
  src/supply-cmd.js
  test/config-fixture.json
  test/parse-data-files.test.js
Labels: source

fix export naming etc.
  src/index.js
  src/parse-config.js
  src/parse-data-files.js
  test/parse-data-files.test.js
Labels: source

merge from main and tweak the readme
  README.md
  src/parse-data-files.js
Labels: source

fix to work with node 12
  src/parse-config.js
  src/supply-cmd.js
Labels: source

mention node 12 upfront in the readme
  README.md
Labels: none

Update docs/conventions.md
  docs/conventions.md
Labels: documentation

Update docs/conventions.md
  docs/conventions.md
Labels: documentation

switch to .datasupplyrc for default config change targetDirectories to dataSourceDirectories
  .datasupplyrc
  README.md
  src/parse-config.js
  src/parse-data-files.js
  src/supply-cmd.js
  test/config-fixture.json
Labels: source

switch metadata to FILENAME.config.json
  src/parse-data-files.js
  test/example-data/political-data/elections/polling-data.meta.json
  test/example-data/political-data/elections/polling-data.yml
Labels: source

update docs around metadata change
  README.md
  docs/conventions.md
Labels: documentation

Refactor the existing dsv->json code and add CLI & metadata (#18)
  .all-contributorsrc
  .datasupplyrc
  .github/workflows/test.yml
  .gitignore
  README.md
  __mocks__/fs.js
  babel.config.cjs
  data/processedData.json
  docs/conventions.md
  jest.config.cjs
  main.js
  package-lock.json
  package.json
  src/README.md
  src/config.json
  src/createStream.mjs
  src/data/dummy.json
  src/get-file-paths.js
  src/index.js
  src/index.mjs
  src/index.test.js
  src/parse-config.js
  src/parse-data-files.js
  src/saveJson.mjs
  src/supply-cmd.js
  src/utils.js
  test/config-fixture.json
  test/example-data/dummy.tsv
  test/example-data/political-data/elections/polling-data.csv
  test/example-data/political-data/elections/polling-data.meta.json
  test/example-data/political-data/elections/uk-electoral-turnout.csv
  test/example-data/political-data/london-hpi.csv
  test/example-data/scientific-data/periodic-table.csv
  test/example-data/scientific-data/sugarydrinks.csv
  test/example-data/sports-data/circuits.csv
  test/get-file-paths.test.js
Labels: source, documentation

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

Create lint.yml
  .github/workflows/lint.yml
Labels: none

Update test.yml
  .github/workflows/test.yml
Labels: none

Update README.md
  README.md
Labels: none

Update supply-cmd.js
  src/supply-cmd.js
Labels: source

add a test for config parsing
  src/supply-cmd.js
  test/parse-config.test.js
Labels: source

Add auto code analysis (#26)
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  README.md
Labels: none

Fix configless output path (#27)
  src/supply-cmd.js
  test/parse-config.test.js
Labels: source

add a -S flag on the #! line
  src/supply-cmd.js
Labels: source

remove yaml dependency
  src/parse-data-files.js
Labels: source

add metadata for sugary drinks data, update test
  test/example-data/scientific-data/sugarydrinks.meta.json
  test/get-file-paths.test.js
Labels: none

add a groupBy transform and a method for processing conventional lists of transforms
  package-lock.json
  package.json
  src/supply-cmd.js
  src/transforms/groupBy.js
  src/transforms/index.js
Labels: source

fix the pass by reference problem
  src/transforms/index.js
  src/transforms/utils.js
Labels: source

EIUNAB-3645
  catalog-info.yaml
Labels: none

Update catalog-info.yaml
  catalog-info.yaml
Labels: none

fix: upgrade yaml from 1.10.0 to 1.10.2
  package-lock.json
  package.json
Labels: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Labels: none
