Repository signal-noise/datasupply, pull requests merged in 2021-02, with the labels that each got.

#19 Fix CI issues
  .eslintignore
  .eslintrc
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
  .github/ISSUE_TEMPLATE/OTHER.md
  .github/labeler.yml
  .github/workflow/stale.yml
  .github/workflows/label.yml
  .github/workflows/publish.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/SUPPORT.md
  docs/configuration.md
  docs/getting_started.md
  package-lock.json
  package.json
Labels: documentation

#18 Refactor the existing dsv->json code and add CLI
  .all-contributorsrc
  .datasupplyrc
  .github/workflows/test.yml
  .gitignore
  README.md
  __mocks__/fs.js
  babel.config.cjs
  data/processedData.json
  docs/conventions.md
  jest.config.cjs
  main.js
  package-lock.json
  package.json
  src/README.md
  src/config.json
  src/createStream.mjs
  src/data/dummy.json
  src/get-file-paths.js
  src/index.js
  src/index.mjs
  src/index.test.js
  src/parse-config.js
  src/parse-data-files.js
  src/saveJson.mjs
  src/supply-cmd.js
  src/utils.js
  test/config-fixture.json
  test/example-data/dummy.tsv
  test/example-data/political-data/elections/polling-data.csv
  test/example-data/political-data/elections/polling-data.meta.json
  test/example-data/political-data/elections/uk-electoral-turnout.csv
  test/example-data/political-data/london-hpi.csv
  test/example-data/scientific-data/periodic-table.csv
  test/example-data/scientific-data/sugarydrinks.csv
  test/example-data/sports-data/circuits.csv
  test/get-file-paths.test.js
Labels: documentation, source

#27 Fix configless output path
  src/supply-cmd.js
  test/parse-config.test.js
Labels: source
